In [212]:
! pip install -q kaggle

In [213]:
# from google.colab import files
# files.upload()

In [214]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download -d CooperUnion/anime-recommendations-database

mkdir: cannot create directory ‘/root/.kaggle’: File exists
anime-recommendations-database.zip: Skipping, found more recently modified local copy (use --force to force download)

# **Mengextract file zip**
Mengekstrak file zip dari kaggle yang sudah di download ke directory /content

In [215]:
# extract zip
import zipfile, os
zip_path = '/content/anime-recommendations-database.zip'

# select zipfile
zip_ref = zipfile.ZipFile(zip_path, 'r') # 'r' adalah read only
zip_ref.extractall('/content')               # extract di /tmp
zip_ref.close()

# **Melihat isi dataset**
Melihat isi dataset menggunakan Pandas beserta melihat isi df.info()

## Anime

In [216]:
import pandas as pd

anime = pd.read_csv('anime.csv')
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [217]:
anime.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [218]:
print('Jumlah data banyaknya anime: ', len(anime.anime_id.unique()))

Jumlah data banyaknya anime:  12294

In [219]:
print('Banyak Genre: ', len(anime.genre.unique()))

Banyak Genre:  3265

In [220]:
print('Tipe-tipe anime: ', anime.type.unique())

Tipe-tipe anime:  ['Movie' 'TV' 'OVA' 'Special' 'Music' 'ONA' nan]

In [221]:
print('Variasi banyak episode anime: ', len(anime.episodes.unique()))

Variasi banyak episode anime:  187

In [222]:
print('Variasi banyak member anime: ', len(anime.members.unique()))

Variasi banyak member anime:  6706

## Rating

In [223]:
rating = pd.read_csv('rating.csv')
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB

In [224]:
rating.tail(3)

         user_id  anime_id  rating
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

In [225]:
rating.describe()

            user_id      anime_id        rating
count  7.813737e+06  7.813737e+06  7.813737e+06
mean   3.672796e+04  8.909072e+03  6.144030e+00
std    2.099795e+04  8.883950e+03  3.727800e+00
min    1.000000e+00  1.000000e+00 -1.000000e+00
25%    1.897400e+04  1.240000e+03  6.000000e+00
50%    3.679100e+04  6.213000e+03  7.000000e+00
75%    5.475700e+04  1.409300e+04  9.000000e+00
max    7.351600e+04  3.451900e+04  1.000000e+01

In [226]:
print('Jumlah data banyaknya anime: ', len(anime.anime_id.unique()))
print('Jumlah data banyaknya rating: ', len(rating.anime_id.unique()))

Jumlah data banyaknya anime:  12294
Jumlah data banyaknya rating:  11200

# **Data Preprocessing**

## Anime.csv

In [227]:
import numpy as np

In [228]:
anime.head(5)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [229]:
# cek null values anime

print(anime.isnull().sum())

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [230]:
# Hapus null values pada anime
anime = anime.dropna()

In [231]:
anime.describe()

           anime_id        rating       members
count  12017.000000  12017.000000  1.201700e+04
mean   13638.001165      6.478264  1.834888e+04
std    11231.076675      1.023857  5.537250e+04
min        1.000000      1.670000  1.200000e+01
25%     3391.000000      5.890000  2.250000e+02
50%     9959.000000      6.570000  1.552000e+03
75%    23729.000000      7.180000  9.588000e+03
max    34519.000000     10.000000  1.013917e+06

In [232]:
# Hapus kolom members

anime = anime.drop('members', axis=1)

In [233]:
# Hapus kolom rating

anime = anime.drop('rating', axis=1)

In [234]:
# Hapus kolom episodes

anime = anime.drop('episodes', axis=1)

In [235]:
# Hapus kolom type

anime = anime.drop('type', axis=1)

## Rating

In [236]:
# Rubah nilai -1 yang terdapat dalam rating menjadi null

rating = rating.replace(-1, np.nan)

In [237]:
# cek null values di rating

print(rating.isnull().sum())

user_id           0
anime_id          0
rating      1476496
dtype: int64

In [238]:
# Hapus null values di rating

rating = rating.dropna()

In [239]:
# Menggabungkan kolom animeID 
anime_all = np.concatenate((
    anime.anime_id.unique(),
    rating.anime_id.unique()
))

# Mengurutkan data dan menghapus data yang sama
anime_all = np.sort(np.unique(anime_all))

print('Jumlah seluruh data anime berdasarkan anime_id: ', len(anime_all))

Jumlah seluruh data anime berdasarkan anime_id:  12052

In [240]:
# Definisikan banyak user yang memberikan rating
user_all = rating.user_id.unique()

# Menghapus data yang sama lalu mengurutkan
user_all = np.sort(np.unique(user_all))

print('Jumlah seluruh user: ', len(user_all))

Jumlah seluruh user:  69600

In [241]:
rating

         user_id  anime_id  rating
47             1      8074    10.0
81             1     11617    10.0
83             1     11757    10.0
101            1     15451    10.0
153            2     11771    10.0
...          ...       ...     ...
7813732    73515     16512     7.0
7813733    73515     17187     9.0
7813734    73515     22145    10.0
7813735    73516       790     9.0
7813736    73516      8074     9.0

[6337241 rows x 3 columns]

## Mengetahui Jumlah Rating

In [242]:
rate_anime = pd.merge(rating, anime, on='anime_id', how='left')
rate_anime

,user_id,anime_id,rating,name,genre
0,1,8074,10.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural"
1,1,11617,10.0,High School DxD,"Comedy, Demons, Ecchi, Harem, Romance, School"
2,1,11757,10.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance"
3,1,15451,10.0,High School DxD New,"Action, Comedy, Demons, Ecchi, Harem, Romance,..."
4,2,11771,10.0,Kuroko no Basket,"Comedy, School, Shounen, Sports"
...,...,...,...,...,...
6337236,73515,16512,7.0,Devil Survivor 2 The Animation,"Action, Demons, Supernatural"
6337237,73515,17187,9.0,Ghost in the Shell: Arise - Border:1 Ghost Pain,"Mecha, Police, Psychological, Sci-Fi"
6337238,73515,22145,10.0,Kuroshitsuji: Book of Circus,"Comedy, Demons, Fantasy, Historical, Shounen, ..."
6337239,73516,790,9.0,Ergo Proxy,"Mystery, Psychological, Sci-Fi"
6337240,73516,8074,9.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural"

In [243]:
# cek missing value dengan isnull()

rate_anime.isnull().sum()

user_id      0
anime_id     0
rating       0
name        95
genre       95
dtype: int64

In [244]:
# Menghitung jumlah rating lalu gabungkan berdasarkan animeID
rate_anime.groupby('anime_id').sum()

            user_id    rating
anime_id
1         500512366  119285.0
5         220038666   48866.0
6         353201005   79016.0
7          87011692   16340.0
8          12041287    2217.0
...             ...       ...
34324        390603      65.0
34325        620854     110.0
34349        118557      21.0
34367        200375      21.0
34475        137993      20.0

[9927 rows x 2 columns]

## Menggabungkan data dengan fitur nama anime

In [245]:
# Definisikan dataframe rating ke dalam variabel all_anime_rate
all_anime_rate = rating
all_anime_rate

         user_id  anime_id  rating
47             1      8074    10.0
81             1     11617    10.0
83             1     11757    10.0
101            1     15451    10.0
153            2     11771    10.0
...          ...       ...     ...
7813732    73515     16512     7.0
7813733    73515     17187     9.0
7813734    73515     22145    10.0
7813735    73516       790     9.0
7813736    73516      8074     9.0

[6337241 rows x 3 columns]

In [246]:
all_anime_name = pd.merge(all_anime_rate, anime[['anime_id','name']], on='anime_id', how='left')
all_anime_name

,user_id,anime_id,rating,name
0,1,8074,10.0,Highschool of the Dead
1,1,11617,10.0,High School DxD
2,1,11757,10.0,Sword Art Online
3,1,15451,10.0,High School DxD New
4,2,11771,10.0,Kuroko no Basket
...,...,...,...,...
6337236,73515,16512,7.0,Devil Survivor 2 The Animation
6337237,73515,17187,9.0,Ghost in the Shell: Arise - Border:1 Ghost Pain
6337238,73515,22145,10.0,Kuroshitsuji: Book of Circus
6337239,73516,790,9.0,Ergo Proxy
6337240,73516,8074,9.0,Highschool of the Dead

## Menggabungkan data dengan fitur genre anime

In [247]:
# Buat dataframe khusus untuk kolom anime_id dan type
genre = anime[["anime_id", "genre"]]
genre

       anime_id                                              genre
0         32281               Drama, Romance, School, Supernatural
1          5114  Action, Adventure, Drama, Fantasy, Magic, Mili...
2         28977  Action, Comedy, Historical, Parody, Samurai, S...
3          9253                                   Sci-Fi, Thriller
4          9969  Action, Comedy, Historical, Parody, Samurai, S...
...         ...                                                ...
12289      9316                                             Hentai
12290      5543                                             Hentai
12291      5621                                             Hentai
12292      6133                                             Hentai
12293     26081                                             Hentai

[12017 rows x 2 columns]

In [ ]:
all_anime = pd.merge(all_anime_name, genre, on='anime_id', how='left')

# Data Preparation

In [249]:
# Mengecek missing value pada dataframe all_resto
all_anime.isnull().sum()

user_id      0
anime_id     0
rating       0
name        95
genre       95
dtype: int64

## Mengatasi Missing Value

In [250]:
all_anime_clean = all_anime.dropna()
all_anime_clean

,user_id,anime_id,rating,name,genre
0,1,8074,10.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural"
1,1,11617,10.0,High School DxD,"Comedy, Demons, Ecchi, Harem, Romance, School"
2,1,11757,10.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance"
3,1,15451,10.0,High School DxD New,"Action, Comedy, Demons, Ecchi, Harem, Romance,..."
4,2,11771,10.0,Kuroko no Basket,"Comedy, School, Shounen, Sports"
...,...,...,...,...,...
6337236,73515,16512,7.0,Devil Survivor 2 The Animation,"Action, Demons, Supernatural"
6337237,73515,17187,9.0,Ghost in the Shell: Arise - Border:1 Ghost Pain,"Mecha, Police, Psychological, Sci-Fi"
6337238,73515,22145,10.0,Kuroshitsuji: Book of Circus,"Comedy, Demons, Fantasy, Historical, Shounen, ..."
6337239,73516,790,9.0,Ergo Proxy,"Mystery, Psychological, Sci-Fi"
6337240,73516,8074,9.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural"

In [251]:
all_anime_clean.isnull().sum()

user_id     0
anime_id    0
rating      0
name        0
genre       0
dtype: int64

In [252]:
# Hapus data duplikat pada variabel all_anime_clean dan define ke preparation
preparation = all_anime_clean.drop_duplicates('anime_id')
preparation

,user_id,anime_id,rating,name,genre
0,1,8074,10.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural"
1,1,11617,10.0,High School DxD,"Comedy, Demons, Ecchi, Harem, Romance, School"
2,1,11757,10.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance"
3,1,15451,10.0,High School DxD New,"Action, Comedy, Demons, Ecchi, Harem, Romance,..."
4,2,11771,10.0,Kuroko no Basket,"Comedy, School, Shounen, Sports"
...,...,...,...,...,...
6070290,69964,23585,7.0,Haha wo Tazunete Sanzenri Specials,"Adventure, Drama, Slice of Life"
6070546,69964,33659,6.0,Fushigi na Somera-chan Special,"Comedy, Magic, Slice of Life"
6274655,72800,30738,4.0,Gamba: Gamba to Nakama-tachi,"Adventure, Kids"
6300924,73135,8723,5.0,Anime Rakugo Kan,Comedy
6306513,73188,8749,6.0,Forestry,Comedy

## Konversi data ke list

In [253]:
# Konversi data series 'anime_id' ke bentuk list
anime_id = preparation['anime_id'].tolist()

# konversi data series 'name' ke bentuk list
anime_name = preparation['name'].tolist()

# konversi data series 'genre' ke bentuk list
genre = preparation['genre'].tolist()


print(len(anime_id))
print(len(anime_name))
print(len(genre))

9892
9892
9892

## Buat dictionary dari list

In [254]:
# Membuat dictionary untuk data anime_id, anime_name, genre, dan tipe
anime_dict = pd.DataFrame({
    'id': anime_id,
    'anime_name': anime_name,
    'genre': genre,
})

anime_dict

,id,anime_name,genre
0,8074,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural"
1,11617,High School DxD,"Comedy, Demons, Ecchi, Harem, Romance, School"
2,11757,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance"
3,15451,High School DxD New,"Action, Comedy, Demons, Ecchi, Harem, Romance,..."
4,11771,Kuroko no Basket,"Comedy, School, Shounen, Sports"
...,...,...,...
9887,23585,Haha wo Tazunete Sanzenri Specials,"Adventure, Drama, Slice of Life"
9888,33659,Fushigi na Somera-chan Special,"Comedy, Magic, Slice of Life"
9889,30738,Gamba: Gamba to Nakama-tachi,"Adventure, Kids"
9890,8723,Anime Rakugo Kan,Comedy
9891,8749,Forestry,Comedy

# **Model Development dengan Content Based Filtering**

In [255]:
data = anime_dict
data.sample(5)

,id,anime_name,genre
4447,31909,Wakaba*Girl: Onsen Tsukaritai,"Comedy, Slice of Life"
4068,3964,Turn A Gundam II Movie: Moonlight Butterfly,"Action, Drama, Mecha, Military, Sci-Fi, Space"
3918,593,Mugen no Ryvius,"Drama, Mecha, Military, Psychological, Sci-Fi,..."
3925,551,Grappler Baki: Saidai Tournament-hen,"Action, Martial Arts, Shounen, Sports"
2425,2020,One Piece: Nenmatsu Tokubetsu Kikaku! Mugiwara...,"Adventure, Comedy, Fantasy, Shounen"

In [256]:
len(data.genre.unique())

3048

## TF-IDF Vectorizer

In [257]:
from sklearn.feature_extraction.text import TfidfVectorizer

# inisialisasi tf-idf
tf = TfidfVectorizer()

# melakukan perhitungan idf pada data type
tfidf_matrix = tf.fit_transform(data['genre']) 

# melihat ukuran matix tfidf
tfidf_matrix.shape

(9892, 47)

In [258]:
# Mengubah vektor tf-idf dalam bentuk matriks dengan fungsi todense()
tfidf_matrix.todense()

matrix([[0.33234792, 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.31886448, 0.35205705, 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.59594573, 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ]])

In [259]:
# Membuat dataframe untuk melihat tf-idf matrix
# Kolom diisi dengan jenis masakan
# Baris diisi dengan nama resto

pd.DataFrame(
    tfidf_matrix.todense(),
    columns=tf.get_feature_names(),
    index=data.anime_name
).sample(22, axis=1).sample(10, axis=0)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,demons,game,dementia,fantasy,power,of,space,vampire,action,shoujo,...,parody,romance,shounen,arts,supernatural,samurai,harem,adventure,martial,thriller
anime_name,,,,,,,,,,,,,,,,,,,,,
Bara Bara Film,0.0,0.0,1.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
Kitsutsuki: The Ten Hole Stories,0.0,0.0,1.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
Anime Rakugo Kan,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
Kasumin,0.0,0.0,0.0,0.604133,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
Words Worth Gaiden,0.0,0.0,0.0,0.488250,0.0,0.000000,0.0,0.0,0.432888,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.47795,0.0,0.0
Megane na Kanojo,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.533690,0.507064,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
Eikyuu Kazoku,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
Shiratori Reiko de Gozaimasu!,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.834415,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
Oira no Yakyuu,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
Peeping Life: The Perfect Explosion Specials,0.0,0.0,0.0,0.000000,0.0,0.546363,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0

## Cosine Similarity

In [260]:
from sklearn.metrics.pairwise import cosine_similarity

# Menghitung cosine similarity pada matrix tf-idf
cosine_sim = cosine_similarity(tfidf_matrix)
cosine_sim

array([[1.        , 0.22765335, 0.10597395, ..., 0.        , 0.        ,
        0.        ],
       [0.22765335, 1.        , 0.13375583, ..., 0.        , 0.22106054,
        0.22106054],
       [0.10597395, 0.13375583, 1.        , ..., 0.2098069 , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.2098069 , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.22106054, 0.        , ..., 0.        , 1.        ,
        1.        ],
       [0.        , 0.22106054, 0.        , ..., 0.        , 1.        ,
        1.        ]])

In [261]:
# Membuat dataframe dari variabel cosine_sim dengan baris dan kolom berupa nama anime
cosine_sim_df = pd.DataFrame(cosine_sim, index=data['anime_name'], columns=data['anime_name'])
print('Shape:', cosine_sim_df.shape)
 
# Melihat similarity matrix pada setiap resto
cosine_sim_df.sample(6, axis=1).sample(10, axis=0)

Shape: (9892, 9892)

anime_name,Words Worth,Yu☆Gi☆Oh!,Chou Akuukan Bouheki Cheese Napolitan,Super Lovers,Yamaguchi Sanchi no Tsutomu-kun,Amazing Nuts!
anime_name,,,,,,
Aoki Ryuusei SPT Layzner,0.000000,0.131940,0.0,0.098992,0.000000,0.204474
Kara no Kyoukai: Shuushou,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
Kino no Tabi: Nanika wo Suru Tame ni - Life Goes On.,0.389909,0.213542,0.0,0.174805,0.000000,0.177601
Hand Soap,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
Kiss x Sis (TV),0.000000,0.062562,0.0,0.154530,0.175481,0.124461
Kero Kero Keroppi no Gulliver no Bouken,0.354056,0.193907,0.0,0.000000,0.412849,0.161270
Yasoukyoku,0.000000,0.000000,1.0,0.000000,0.616931,0.437565
Calimero,0.000000,0.273696,0.0,0.205348,0.000000,0.000000
Mugen no Ryvius,0.000000,0.000000,0.0,0.084154,0.000000,0.177592
Hidamari Sketch x 365 Recap,0.000000,0.078170,0.0,0.561433,0.000000,0.000000

## Mendapatkan Rekomendasi

In [262]:
def anime_recommendations(nama_anime, similarity_data=cosine_sim_df, items=data[['anime_name', 'genre']], k=5):
    
 
 
    # Mengambil data dengan menggunakan argpartition untuk melakukan partisi secara tidak langsung sepanjang sumbu yang diberikan    
    # Dataframe diubah menjadi numpy
    # Range(start, stop, step)
    index = similarity_data.loc[:,nama_anime].to_numpy().argpartition(
        range(-1, -k, -1))
    
    # Mengambil data dengan similarity terbesar dari index yang ada
    closest = similarity_data.columns[index[-1:-(k+2):-1]]
    
    # Drop nama_resto agar nama resto yang dicari tidak muncul dalam daftar rekomendasi
    closest = closest.drop(nama_anime, errors='ignore')
 
    return pd.DataFrame(closest).merge(items).head(k)

In [263]:
data[data.anime_name.eq('Naruto')]

   id anime_name                                              genre
5  20     Naruto  Action, Comedy, Martial Arts, Shounen, Super P...

In [264]:
data.sample(10)

,id,anime_name,genre
3257,30137,Big Order,"Action, Shounen, Super Power"
5053,10055,Black Jack: Heian Sento,Shounen
5178,6375,Kagaku Ninja-tai Gatchaman F,"Action, Adventure, Sci-Fi, Shounen"
3190,2897,Nandarou,Comedy
8695,33401,Momotarou (Music),Music
9793,1739,Shibawanko no Wa no Kokoro,Kids
2478,2015,Wind: A Breath of Heart,"Comedy, School"
5422,15541,Namanaka Hyaku Percent!: Katamusubi no Shinpa,Hentai
8790,23897,Lovely Movie: Itoshi no Muco,Slice of Life
878,3167,Eve no Jikan,"Sci-Fi, Slice of Life"

In [301]:
input = 'Bleach'
recom = anime_recommendations(input, k=5)
recom

,anime_name,genre
0,Bleach Movie 4: Jigoku-hen,"Action, Comedy, Shounen, Super Power, Supernat..."
1,Bleach Movie 3: Fade to Black - Kimi no Na wo ...,"Action, Comedy, Shounen, Super Power, Supernat..."
2,Code:Breaker,"Action, Comedy, School, Shounen, Super Power, ..."
3,K: Return of Kings,"Action, Super Power, Supernatural"
4,Tokyo ESP,"Action, Comedy, Sci-Fi, Shounen, Super Power, ..."

Dari hasil rekomendasi diatas diketahui bahwa Naruto termasuk dalam tipe anime TV, dari 5 item yang direkomendasikan, 5 item memiliki kategori TV (similar) artinya, precision sistem kita sebesar 100%

# Evaluation

In [303]:
def jaccard_set(list_genre, list_genre_prediksi):
    intersection = len(list(set(list_genre).intersection(list_genre_prediksi)))
    union = (len(list_genre) + len(list_genre_prediksi)) - intersection
    return float(intersection) / union

In [304]:
genre_list = anime[anime.name.eq(input)]['genre'].values.tolist()

In [305]:
# Memisahkan genre satu sama lainnya

def iterate(list):
  for x in list:
    return x.split(',')

In [306]:
anime_genre = iterate(genre_list)

print('sebelum dipisah: ', genre_list)
print('setelah dipisah: ', anime_genre)

sebelum dipisah:  ['Action, Comedy, Shounen, Super Power, Supernatural']
setelah dipisah:  ['Action', ' Comedy', ' Shounen', ' Super Power', ' Supernatural']

In [307]:
predict_genre = anime_recommendations(input)['genre'].values

In [308]:
def jaccard_value_total(anime_genre, predict_genre):
  total_jaccard_value = 0
  result = 0

  for i in range(len(predict_genre)):
    genre = predict_genre[i].split(',')
    jaccard_value = jaccard_set(anime_genre, genre)
    total_jaccard_value += jaccard_value
    result = total_jaccard_value / len(predict_genre)
    
  return result

In [309]:
jaccard_value_total(anime_genre, predict_genre)

0.8533333333333333

In [310]:
# precision = (5/5)*100
# print("Presisi dari model adalah sebesar {}%". format(precision))